.gpt3__blog-container_article {
  background: var(--color-blog);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.gpt3__blog-container_article-image {
  height: 100%;
  width: 100%;
}
.gpt3__blog-container_article-image img {
  width: 100%;
  height: 100%;
}
.gpt3__blog-container_article-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}
.gpt3__blog-container_article-content p {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 11.649px;
  line-height: 35px;
  color: #fff;
}
.gpt3__blog-container_article-content h3 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 25.11px;
  line-height: 30px;
  color: #fff;
  margin-bottom: 5rem;
  cursor: pointer;
}
.gpt3__blog-container_article-content p:last-child {
  cursor: pointer;
}
